<?xml version='1.0' encoding='ASCII'?>
<robot name="rbs_arm">
  <link name="world"/>
  <link name="base_link">
    <inertial>
      <mass value="None"/>
      <origin xyz="-0.000297002857922682 0.0964721185617698 -0.000361033370053684" rpy="0.0 0.0 0.0"/>
      <inertia ixx="0.00503302470272442" ixy="0.000343817346410954" ixz="-4.74990755448368e-06" iyy="0.00337962410057753" iyz="-2.3099255620051e-05" izz="0.00405858207282473"/>
    </inertial>
    <visual name="base_link_visual">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file:///home/narmak/rbs_ws/install/rbs_arm/share/rbs_arm/meshes/visual/start_link.dae"/>
      </geometry>
    </visual>
    <collision name="base_link_collision">
      <geometry>
        <mesh filename="file:///home/narmak/rbs_ws/install/rbs_arm/share/rbs_arm/meshes/collision/start_link.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </collision>
  </link>
  <link name="fork0_link">
    <inertial>
      <mass value="None"/>
      <origin xyz="0.0472051139085306 0.00208890925682996 0.0557265410642575" rpy="0.0 0.0 0.0"/>
      <inertia ixx="0.00367804533572758" ixy="1.04277925521833e-05" ixz="-0.00149971410403071" iyy="0.00415208849477534" iyz="-0.00122" izz="0.00329"/>
    </inertial>
    <visual name="fork0_link_visual">
      <origin xyz="0.0 -0.0 0.0" rpy="0.0 -0.0 -0.0"/>
      <geometry>
        <mesh filename="file:///home/narmak/rbs_ws/install/rbs_arm/share/rbs_arm/meshes/visual/fork_link.dae"/>
      </geometry>
    </visual>
    <collision name="fork0_link_collision">
      <geometry>
        <mesh filename="file:///home/narmak/rbs_ws/install/rbs_arm/share/rbs_arm/meshes/collision/fork_link.stl"/>
      </geometry>
      <origin xyz="0.0 -0.0 0.0" rpy="0.0 0.0 0.0"/>
    </collision>
  </link>
  <link name="main0_link">
    <inertial>
      <mass value="None"/>
      <origin xyz="0.00186712264682627 -0.000412152188777604 0.0516389446895805" rpy="0.0 0.0 0.0"/>
      <inertia ixx="0.00315699373090845" ixy="2.84713820858537e-05" ixz="-7.01601261191721e-05" iyy="0.00343729241263707" iyz="-0.000101485203138902" izz="0.00125534890134052"/>
    </inertial>
    <visual name="main0_link_visual">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 -0.0"/>
      <geometry>
        <mesh filename="file:///home/narmak/rbs_ws/install/rbs_arm/share/rbs_arm/meshes/visual/main_link.dae"/>
      </geometry>
    </visual>
    <collision name="main0_link_collision">
      <geometry>
        <mesh filename="file:///home/narmak/rbs_ws/install/rbs_arm/share/rbs_arm/meshes/collision/main_link.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </collision>
  </link>
  <link name="fork1_link">
    <inertial>
      <mass value="None"/>
      <origin xyz="0.0472051139085306 0.00208890925682996 0.0557265410642575" rpy="0.0 0.0 0.0"/>
      <inertia ixx="0.00367804533572758" ixy="1.04277925521833e-05" ixz="-0.00149971410403071" iyy="0.00415208849477534" iyz="-0.00122" izz="0.00329"/>
    </inertial>
    <visual name="fork1_link_visual">
      <origin xyz="0.0 -0.0 0.0" rpy="0.0 -0.0 -0.0"/>
      <geometry>
        <mesh filename="file:///home/narmak/rbs_ws/install/rbs_arm/share/rbs_arm/meshes/visual/fork_link.dae"/>
      </geometry>
    </visual>
    <collision name="fork1_link_collision">
      <geometry>
        <mesh filename="file:///home/narmak/rbs_ws/install/rbs_arm/share/rbs_arm/meshes/collision/fork_link.stl"/>
      </geometry>
      <origin xyz="0.0 -0.0 0.0" rpy="0.0 0.0 0.0"/>
    </collision>
  </link>
  <link name="main1_link">
    <inertial>
      <mass value="None"/>
      <origin xyz="0.00186712264682627 -0.000412152188777604 0.0516389446895805" rpy="0.0 0.0 0.0"/>
      <inertia ixx="0.00315699373090845" ixy="2.84713820858537e-05" ixz="-7.01601261191721e-05" iyy="0.00343729241263707" iyz="-0.000101485203138902" izz="0.00125534890134052"/>
    </inertial>
    <visual name="main1_link_visual">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 -0.0"/>
      <geometry>
        <mesh filename="file:///home/narmak/rbs_ws/install/rbs_arm/share/rbs_arm/meshes/visual/main_link.dae"/>
      </geometry>
    </visual>
    <collision name="main1_link_collision">
      <geometry>
        <mesh filename="file:///home/narmak/rbs_ws/install/rbs_arm/share/rbs_arm/meshes/collision/main_link.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </collision>
  </link>
  <link name="fork2_link">
    <inertial>
      <mass value="None"/>
      <origin xyz="0.0472051139085306 0.00208890925682996 0.0557265410642575" rpy="0.0 0.0 0.0"/>
      <inertia ixx="0.00367804533572758" ixy="1.04277925521833e-05" ixz="-0.00149971410403071" iyy="0.00415208849477534" iyz="-0.00122" izz="0.00329"/>
    </inertial>
    <visual name="fork2_link_visual">
      <origin xyz="0.0 -0.0 0.0" rpy="0.0 -0.0 -0.0"/>
      <geometry>
        <mesh filename="file:///home/narmak/rbs_ws/install/rbs_arm/share/rbs_arm/meshes/visual/fork_link.dae"/>
      </geometry>
    </visual>
    <collision name="fork2_link_collision">
      <geometry>
        <mesh filename="file:///home/narmak/rbs_ws/install/rbs_arm/share/rbs_arm/meshes/collision/fork_link.stl"/>
      </geometry>
      <origin xyz="0.0 -0.0 0.0" rpy="0.0 0.0 0.0"/>
    </collision>
  </link>
  <link name="tool0"/>
  <link name="ee_link">
    <inertial>
      <mass value="None"/>
      <origin xyz="-9.7531539777207e-06 -0.000888494418875867 0.0342332199538358" rpy="0.0 0.0 0.0"/>
      <inertia ixx="0.00147695259043549" ixy="-2.66894744420299e-05" ixz="-4.40871314563273e-05" iyy="0.00135500487881796" iyz="-3.19001462979333e-05" izz="0.00087582892706912"/>
    </inertial>
    <visual name="ee_link_visual">
      <origin xyz="0.0 -0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file:///home/narmak/rbs_ws/install/rbs_arm/share/rbs_arm/meshes/visual/ee_link.dae"/>
      </geometry>
    </visual>
    <collision name="ee_link_collision">
      <geometry>
        <mesh filename="file:///home/narmak/rbs_ws/install/rbs_arm/share/rbs_arm/meshes/collision/ee_link.stl"/>
      </geometry>
      <origin xyz="0.0 -0.0 0.0" rpy="-0.0 0.0 -0.0"/>
    </collision>
  </link>
  <link name="rbs_gripper_gripper_base_link">
    <inertial>
      <mass value="None"/>
      <origin xyz="0.000364704367134063 0.0336387482840125 0.0593891203954369" rpy="0.0 0.0 0.0"/>
      <inertia ixx="0.00107738806534129" ixy="-1.09841172461737e-05" ixz="2.62750043451545e-06" iyy="0.000717388573992299" iyz="-2.95426438182787e-05" izz="0.00115777179755934"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file:///home/narmak/rbs_ws/install/rbs_gripper/share/rbs_gripper/meshes/visual/base.dae"/>
      </geometry>
      <material name="rbs_gripper_material">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="file:///home/narmak/rbs_ws/install/rbs_gripper/share/rbs_gripper/meshes/collision/base.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </collision>
  </link>
  <link name="rbs_gripper_rot_base_link">
    <inertial>
      <mass value="None"/>
      <origin xyz="6.79110135283868e-11 -3.80956832067611e-10 0.00775394473595793" rpy="0.0 0.0 0.0"/>
      <inertia ixx="0.00011089089949771" ixy="5.01335040610636e-06" ixz="1.74608448389267e-14" iyy="0.000105515893695012" iyz="-2.03282362854432e-14" izz="0.000206912001661452"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file:///home/narmak/rbs_ws/install/rbs_gripper/share/rbs_gripper/meshes/visual/rotor.dae"/>
      </geometry>
      <material name="rbs_gripper_material">
        <color rgba="0.250980392156863 0.250980392156863 0.250980392156863 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="file:///home/narmak/rbs_ws/install/rbs_gripper/share/rbs_gripper/meshes/collision/rotor.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </collision>
  </link>
  <link name="rbs_gripper_l_finger_link">
    <inertial>
      <mass value="None"/>
      <origin xyz="0.00399878118534129 0.0187296413885176 -0.0777776233934166" rpy="0.0 0.0 0.0"/>
      <inertia ixx="4.18533281165612e-05" ixy="-7.11657995951147e-06" ixz="1.81029223490065e-05" iyy="7.89886367868258e-05" iyz="1.20542845942065e-05" izz="5.16740841307935e-05"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file:///home/narmak/rbs_ws/install/rbs_gripper/share/rbs_gripper/meshes/visual/finger.dae"/>
      </geometry>
      <material name="rbs_gripper_material">
        <color rgba="0.752941176470588 0.0 0.0 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="file:///home/narmak/rbs_ws/install/rbs_gripper/share/rbs_gripper/meshes/collision/finger.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </collision>
  </link>
  <link name="rbs_gripper_r_finger_link">
    <inertial>
      <mass value="None"/>
      <origin xyz="0.0039988 -0.077778 -0.01873" rpy="0.0 0.0 0.0"/>
      <inertia ixx="4.1853e-05" ixy="1.8103e-05" ixz="7.1166e-06" iyy="5.1674e-05" iyz="-1.2054e-05" izz="7.8989e-05"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file:///home/narmak/rbs_ws/install/rbs_gripper/share/rbs_gripper/meshes/visual/finger.dae"/>
      </geometry>
      <material name="rbs_gripper_material">
        <color rgba="0.75294 0.0 0.0 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="file:///home/narmak/rbs_ws/install/rbs_gripper/share/rbs_gripper/meshes/collision/finger.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </collision>
  </link>
  <link name="gripper_grasp_point"/>
  <joint type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </joint>
  <joint type="revolute">
    <parent link="base_link"/>
    <child link="fork0_link"/>
    <origin xyz="0.0 0.0 0.17833" rpy="0.0 0.0 0.0"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit effort="78.0" velocity="0.52" lower="-6.14159" upper="6.14159"/>
  </joint>
  <joint type="revolute">
    <parent link="fork0_link"/>
    <child link="main0_link"/>
    <origin xyz="0.1 0.0 0.094" rpy="-0.0 0.0 0.0"/>
    <axis xyz="0.0 1.0 0.0"/>
    <limit effort="78.0" velocity="0.52" lower="-1.5708" upper="3.14159"/>
  </joint>
  <joint type="revolute">
    <parent link="main0_link"/>
    <child link="fork1_link"/>
    <origin xyz="0.0 0.0 0.133" rpy="0.0 0.0 0.0"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit effort="78.0" velocity="0.52" lower="-6.14159" upper="6.14159"/>
  </joint>
  <joint type="revolute">
    <parent link="fork1_link"/>
    <child link="main1_link"/>
    <origin xyz="0.1 0.0 0.094" rpy="-0.0 0.0 0.0"/>
    <axis xyz="0.0 1.0 0.0"/>
    <limit effort="78.0" velocity="0.52" lower="-1.5708" upper="3.14159"/>
  </joint>
  <joint type="revolute">
    <parent link="main1_link"/>
    <child link="fork2_link"/>
    <origin xyz="0.0 0.0 0.133" rpy="0.0 0.0 0.0"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit effort="78.0" velocity="0.52" lower="-6.14159" upper="6.14159"/>
  </joint>
  <joint type="revolute">
    <parent link="fork2_link"/>
    <child link="ee_link"/>
    <origin xyz="0.1 0.0 0.09473" rpy="0.0 0.0 0.0"/>
    <axis xyz="0.0 1.0 0.0"/>
    <limit effort="78.0" velocity="0.52" lower="-1.5708" upper="3.14159"/>
  </joint>
  <joint type="fixed">
    <parent link="ee_link"/>
    <child link="tool0"/>
    <origin xyz="0.0 0.0 0.11" rpy="0.0 0.0 0.0"/>
  </joint>
  <joint type="fixed">
    <parent link="tool0"/>
    <child link="rbs_gripper_gripper_base_link"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </joint>
  <joint type="revolute">
    <parent link="rbs_gripper_gripper_base_link"/>
    <child link="rbs_gripper_rot_base_link"/>
    <origin xyz="0.0 0.0 0.10861" rpy="0.0 0.0 0.0"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit effort="78.0" velocity="0.52" lower="-3.14159" upper="3.14159"/>
  </joint>
  <joint type="prismatic">
    <parent link="rbs_gripper_rot_base_link"/>
    <child link="rbs_gripper_l_finger_link"/>
    <origin xyz="0.0 0.0 0.1071" rpy="0.0 0.0 1.5708"/>
    <axis xyz="-1.0 0.0 0.0"/>
    <limit effort="10.0" velocity="0.53" lower="0.0" upper="0.064"/>
    <mimic joint="rbs_gripper_r_finger_joint" multiplier="1.0" offset="0.0"/>
  </joint>
  <joint type="prismatic">
    <parent link="rbs_gripper_rot_base_link"/>
    <child link="rbs_gripper_r_finger_link"/>
    <origin xyz="0.0 0.0 0.1071" rpy="0.0 0.0 -1.5708"/>
    <axis xyz="-1.0 0.0 0.0"/>
    <limit effort="10.0" velocity="0.53" lower="0.0" upper="0.064"/>
  </joint>
  <joint type="fixed">
    <parent link="rbs_gripper_rot_base_link"/>
    <child link="gripper_grasp_point"/>
    <origin xyz="0.0 0.0 0.09139" rpy="0.0 0.0 0.0"/>
  </joint>
  <ros2_control name="fork0_link_joint_hardware_interface" type="actuator">
    <hardware>
      <plugin>ign_ros2_control/IgnitionSystem</plugin>
    </hardware>
    <joint name="fork0_link_joint">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </ros2_control>
  <ros2_control name="main0_link_joint_hardware_interface" type="actuator">
    <hardware>
      <plugin>ign_ros2_control/IgnitionSystem</plugin>
    </hardware>
    <joint name="main0_link_joint">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </ros2_control>
  <ros2_control name="fork1_link_joint_hardware_interface" type="actuator">
    <hardware>
      <plugin>ign_ros2_control/IgnitionSystem</plugin>
    </hardware>
    <joint name="fork1_link_joint">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </ros2_control>
  <ros2_control name="main1_link_joint_hardware_interface" type="actuator">
    <hardware>
      <plugin>ign_ros2_control/IgnitionSystem</plugin>
    </hardware>
    <joint name="main1_link_joint">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </ros2_control>
  <ros2_control name="fork2_link_joint_hardware_interface" type="actuator">
    <hardware>
      <plugin>ign_ros2_control/IgnitionSystem</plugin>
    </hardware>
    <joint name="fork2_link_joint">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </ros2_control>
  <ros2_control name="ee_link_joint_hardware_interface" type="actuator">
    <hardware>
      <plugin>ign_ros2_control/IgnitionSystem</plugin>
    </hardware>
    <joint name="ee_link_joint">
      <command_interface name="position">
        <param name="min">-1</param>
        <param name="max">1</param>
      </command_interface>
      <command_interface name="velocity">
        <param name="min">-1</param>
        <param name="max">1</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </ros2_control>
  <ros2_control name="rbs_gripper_gazebo" type="system">
    <hardware>
      <plugin>ign_ros2_control/IgnitionSystem</plugin>
    </hardware>
    <joint name="rbs_gripper_rot_base_joint">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <state_interface name="position">
        <param name="initial_value">0.000</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="rbs_gripper_r_finger_joint">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <state_interface name="position">
        <param name="initial_value">0.004</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="rbs_gripper_l_finger_joint"/>
  </ros2_control>
  <ros2_control name="fts_sensor" type="sensor">
    <hardware>
      <plugin>ign_ros2_control/IgnitionFts</plugin>
    </hardware>
    <sensor name="fts_sensor">
      <state_interface name="force.x"/>
      <state_interface name="force.y"/>
      <state_interface name="force.z"/>
      <state_interface name="torque.x"/>
      <state_interface name="torque.y"/>
      <state_interface name="torque.z"/>
    </sensor>
  </ros2_control>
  <gazebo reference="base_link">
    <self_collide/>
    <visual>
      <material>
        <diffuse>0.8 0.8 0.8 1.0</diffuse>
        <specular>0.6 0.6 0.6 1.0</specular>
        <ambient>1.0 1.0 1.0</ambient>
        <emissive>0.0 0.0 0.0 1.0</emissive>
        <lighting>true</lighting>
        <pbr>
          <metal>
            <albedo_map>/home/narmak/rbs_ws/install/rbs_arm/share/rbs_arm/materials/textures/base_link_d.png</albedo_map>
            <normal_map>/home/narmak/rbs_ws/install/rbs_arm/share/rbs_arm/materials/textures/base_link_n.png</normal_map>
            <ambient_occlusion_map>/home/narmak/rbs_ws/install/rbs_arm/share/rbs_arm/materials/textures/base_link_ao.png</ambient_occlusion_map>
            <roughness_map>/home/narmak/rbs_ws/install/rbs_arm/share/rbs_arm/materials/textures/base_link_r.png</roughness_map>
          </metal>
        </pbr>
      </material>
    </visual>
  </gazebo>
  <gazebo reference="fork0_link">
    <self_collide/>
    <visual>
      <material>
        <diffuse>0.8 0.8 0.8 1.0</diffuse>
        <specular>0.6 0.6 0.6 1.0</specular>
        <ambient>1.0 1.0 1.0</ambient>
        <emissive>0.0 0.0 0.0 1.0</emissive>
        <lighting>true</lighting>
        <pbr>
          <metal>
            <albedo_map>/home/narmak/rbs_ws/install/rbs_arm/share/rbs_arm/materials/textures/fork_d.png</albedo_map>
            <normal_map>/home/narmak/rbs_ws/install/rbs_arm/share/rbs_arm/materials/textures/fork_n.png</normal_map>
            <ambient_occlusion_map>/home/narmak/rbs_ws/install/rbs_arm/share/rbs_arm/materials/textures/fork_ao.png</ambient_occlusion_map>
            <roughness_map>/home/narmak/rbs_ws/install/rbs_arm/share/rbs_arm/materials/textures/fork_r.png</roughness_map>
          </metal>
        </pbr>
      </material>
    </visual>
  </gazebo>
  <gazebo reference="main0_link">
    <self_collide/>
    <visual>
      <material>
        <diffuse>0.8 0.8 0.8 1.0</diffuse>
        <specular>0.6 0.6 0.6 1.0</specular>
        <ambient>1.0 1.0 1.0</ambient>
        <emissive>0.0 0.0 0.0 1.0</emissive>
        <lighting>true</lighting>
        <pbr>
          <metal>
            <albedo_map>/home/narmak/rbs_ws/install/rbs_arm/share/rbs_arm/materials/textures/main_link_d.png</albedo_map>
            <normal_map>/home/narmak/rbs_ws/install/rbs_arm/share/rbs_arm/materials/textures/main_link_n.png</normal_map>
            <ambient_occlusion_map>/home/narmak/rbs_ws/install/rbs_arm/share/rbs_arm/materials/textures/main_link_ao.png</ambient_occlusion_map>
            <roughness_map>/home/narmak/rbs_ws/install/rbs_arm/share/rbs_arm/materials/textures/main_link_r.png</roughness_map>
          </metal>
        </pbr>
      </material>
    </visual>
  </gazebo>
  <gazebo reference="fork1_link">
    <self_collide/>
    <visual>
      <material>
        <diffuse>0.8 0.8 0.8 1.0</diffuse>
        <specular>0.6 0.6 0.6 1.0</specular>
        <ambient>1.0 1.0 1.0</ambient>
        <emissive>0.0 0.0 0.0 1.0</emissive>
        <lighting>true</lighting>
        <pbr>
          <metal>
            <albedo_map>/home/narmak/rbs_ws/install/rbs_arm/share/rbs_arm/materials/textures/fork_d.png</albedo_map>
            <normal_map>/home/narmak/rbs_ws/install/rbs_arm/share/rbs_arm/materials/textures/fork_n.png</normal_map>
            <ambient_occlusion_map>/home/narmak/rbs_ws/install/rbs_arm/share/rbs_arm/materials/textures/fork_ao.png</ambient_occlusion_map>
            <roughness_map>/home/narmak/rbs_ws/install/rbs_arm/share/rbs_arm/materials/textures/fork_r.png</roughness_map>
          </metal>
        </pbr>
      </material>
    </visual>
  </gazebo>
  <gazebo reference="main1_link">
    <self_collide/>
    <visual>
      <material>
        <diffuse>0.8 0.8 0.8 1.0</diffuse>
        <specular>0.6 0.6 0.6 1.0</specular>
        <ambient>1.0 1.0 1.0</ambient>
        <emissive>0.0 0.0 0.0 1.0</emissive>
        <lighting>true</lighting>
        <pbr>
          <metal>
            <albedo_map>/home/narmak/rbs_ws/install/rbs_arm/share/rbs_arm/materials/textures/main_link_d.png</albedo_map>
            <normal_map>/home/narmak/rbs_ws/install/rbs_arm/share/rbs_arm/materials/textures/main_link_n.png</normal_map>
            <ambient_occlusion_map>/home/narmak/rbs_ws/install/rbs_arm/share/rbs_arm/materials/textures/main_link_ao.png</ambient_occlusion_map>
            <roughness_map>/home/narmak/rbs_ws/install/rbs_arm/share/rbs_arm/materials/textures/main_link_r.png</roughness_map>
          </metal>
        </pbr>
      </material>
    </visual>
  </gazebo>
  <gazebo reference="fork2_link">
    <self_collide/>
    <visual>
      <material>
        <diffuse>0.8 0.8 0.8 1.0</diffuse>
        <specular>0.6 0.6 0.6 1.0</specular>
        <ambient>1.0 1.0 1.0</ambient>
        <emissive>0.0 0.0 0.0 1.0</emissive>
        <lighting>true</lighting>
        <pbr>
          <metal>
            <albedo_map>/home/narmak/rbs_ws/install/rbs_arm/share/rbs_arm/materials/textures/fork_d.png</albedo_map>
            <normal_map>/home/narmak/rbs_ws/install/rbs_arm/share/rbs_arm/materials/textures/fork_n.png</normal_map>
            <ambient_occlusion_map>/home/narmak/rbs_ws/install/rbs_arm/share/rbs_arm/materials/textures/fork_ao.png</ambient_occlusion_map>
            <roughness_map>/home/narmak/rbs_ws/install/rbs_arm/share/rbs_arm/materials/textures/fork_r.png</roughness_map>
          </metal>
        </pbr>
      </material>
    </visual>
  </gazebo>
  <gazebo reference="ee_link">
    <self_collide/>
    <visual>
      <material>
        <diffuse>0.8 0.8 0.8 1.0</diffuse>
        <specular>0.6 0.6 0.6 1.0</specular>
        <ambient>1.0 1.0 1.0</ambient>
        <emissive>0.0 0.0 0.0 1.0</emissive>
        <lighting>true</lighting>
        <pbr>
          <metal>
            <albedo_map>/home/narmak/rbs_ws/install/rbs_arm/share/rbs_arm/materials/textures/ee_link_d.png</albedo_map>
            <normal_map>/home/narmak/rbs_ws/install/rbs_arm/share/rbs_arm/materials/textures/ee_link_n.png</normal_map>
            <ambient_occlusion_map>/home/narmak/rbs_ws/install/rbs_arm/share/rbs_arm/materials/textures/ee_link_ao.png</ambient_occlusion_map>
            <roughness_map>/home/narmak/rbs_ws/install/rbs_arm/share/rbs_arm/materials/textures/ee_link_r.png</roughness_map>
          </metal>
        </pbr>
      </material>
    </visual>
  </gazebo>
  <gazebo reference="rbs_gripper_rot_base_link">
    <self_collide>true</self_collide>
  </gazebo>
  <gazebo reference="rbs_gripper_l_finger_link">
    <self_collide>true</self_collide>
  </gazebo>
  <gazebo reference="rbs_gripper_r_finger_link">
    <self_collide>true</self_collide>
  </gazebo>
  <gazebo reference="tool0_joint">
    <self_collide/>
    <sensor name="fts_sensor" type="force_torque">
      <always_on>True</always_on>
      <update_rate>50</update_rate>
      <visualize>True</visualize>
      <topic>ft_data</topic>
      <force_torque>
        <frame>sensor</frame>
        <measure_direction>child_to_parent</measure_direction>
      </force_torque>
    </sensor>
  </gazebo>
  <gazebo>
    <self_collide/>
    <plugin name="ign_ros2_control::IgnitionROS2ControlPlugin" filename="libign_ros2_control-system.so">
      <ros>
        <namespace>/arm0</namespace>
      </ros>
    </plugin>
  </gazebo>
</robot>
